[submodule "third_party/link"]
	path = third_party/link
	url = https://github.com/Ableton/link.git
[submodule "gpio_expansion_board"]
	path = gpio_expansion_board
	url = https://github.com/nulllaborg/gpio_expansion_board.git
[submodule "third_party/libDaisy"]
	path = third_party/libDaisy
	url = https://github.com/electro-smith/libDaisy.git
[submodule "third_party/lwip"]
	path = third_party/lwip
	url = https://github.com/lwip-tcpip/lwip.git
[submodule "neon-mic"]
	path = neon-mic
	url = git@github.com:johnnyclem/neon-mic.git
[submodule "AbletonOSC"]
	path = AbletonOSC
	url = https://github.com/ideoforms/AbletonOSC.git
